<div *ngIf="showElementPropertiesForm">
    <form [formGroup]="elementPropertiesForm">
        <div *ngFor="let field of selectedElement.fields" style="margin-top: 10px">
            <ng-container *ngIf="field.type=='selection'">
                <label>{{ field.label }}</label>
                <br/>
                <p-dropdown
                  [options]="field.options"
                  formControlName="{{ field.fieldId }}"
                  [optionLabel]="'name'"
                  [showClear]="true"
                  [style]="{'margin-top': '10px', 'width':'100%'}"
                  placeholder="Select">
                </p-dropdown>
            </ng-container>
          
            <ng-container *ngIf="field.type=='input'">
                <label>{{ field.label }}</label>
                <br/>
                <input
                  pInputText
                  formControlName="{{ field.fieldId }}"
                  [style]="{'margin-top': '10px', 'width':'100%'}"
                  placeholder="Enter value"
                />
            </ng-container>
        </div>
    </form>
</div>