<div *ngIf="showElementPropertiesForm">
    <form [formGroup]="elementPropertiesForm">
        <div *ngFor="let field of selectedElement.fields" style="margin-top: 10px">
            <ng-container *ngIf="field.type=='selection'">
                <label>{{ field.label }}</label>
                <br/>
                <p-dropdown
                  [options]="field.options"
                  formControlName="{{ field.fieldId }}"
                  [optionLabel]="'name'"
                  [showClear]="true"
                  [style]="{'margin-top': '10px', 'width':'100%'}"
                  placeholder="Select">
                </p-dropdown>
            </ng-container>
          
            <ng-container *ngIf="field.type=='input'">
                <label>{{ field.label }}</label>
                <br/>
                <input
                  pInputText
                  formControlName="{{ field.fieldId }}"
                  [style]="{'margin-top': '10px', 'width':'100%'}"
                  placeholder="Enter value"
                />
            </ng-container>
        </div>
        <!-- <div>
            <label for="elementName">Element Name</label>
            <input
                pInputText
                id="elementName"
                aria-describedby="name-help"
                formControlName="elementName"/>
            <small id="name-help">
                Enter the name of element
            </small>
        </div>
        <br/>
        <div style="width: 100%">
            <label for="providerName">Provider</label>
            <br/>
            <p-dropdown
                [options]="providers"
                id="providerName"
                optionLabel="name"
                placeholder="Select a provider"
                formControlName="provider" />
        </div> -->
    </form>
</div>